<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Albert Sunny</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/" id="homeNav">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teaching" id="teachingNav">Teaching</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/students" id="studentsNav">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fprojects" id="fProjectsNav">Funded Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oprojects" id="oProjectsNav">Other Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pub" id="pubNav">Publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exp" id="expNav">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/edu" id="eduNav">Education</a>
        </li>
      </ul>
    </div>
  </div>
</nav>