---
layout: default
---
<script>
  $(".nav li").removeClass("active");
  $("#eduNav").addClass("active");
</script>

<div class="card border-light mb-3">
  <div class="card-header">Education</div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <b>Indian Institute of Science (IISc), Bangalore, India</b> <span class="badge badge-light badge-pill float-right"><b>2012 - 2016</b></span><br>
        <i>Department of Electronic Systems Engineering</i> <br>
        <i>Ph. D. in Engineering</i> <br>
        Thesis Title: <i>&ldquo;Wireless and Social Networks: Some Challenges and Insights&rdquo;</i>
      </li>
      <li class="list-group-item">
        <b>Indian Institute of Science (IISc), Bangalore, India</b> <span class="badge badge-light badge-pill float-right"><b>2008 - 2011</b></span><br>
        <i>Department of Electronic Systems Engineering</i> <br>
        <i>Master of Science in Engineering</i> <br>
        Thesis Title: <i>&ldquo;Distributed Wireless Networks: Link Scheduling and Application Delay Modelling&rdquo;</i> <br>
        Major: <i>Wireless Communication Networks</i>
      </li>
      <li class="list-group-item">
        <b>National Institute of Technology, Calicut, India</b> <span class="badge badge-light badge-pill float-right"><b>2003 - 2007</b></span><br>
        <i>Department of Electrical Engineering</i> <br>
        <i>Bachelor of Technology</i> <br>
        Major: <i>Electrical and Electronics Engineering</i>
      </li>
    </ul>
  </div>
</div>
