---
layout: default
---
<script>
  $(".nav li a").removeClass("active");
  $("#eduNav").addClass("active");
</script>

<div class="card mb-3">
  <div class="card-header bg-light">
    <strong>Education</strong>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          <b>Indian Institute of Science (IISc), Bangalore, India</b> <br>
          <i>Department of Electronic Systems Engineering</i> <br>
          <i>Ph. D. in Engineering</i> <br>
          Thesis Title: <i>&ldquo;Wireless and Social Networks: Some Challenges and Insights&rdquo;</i>
        </div>
        <span class="badge rounded-pill bg-light float-end"><b>2012 - 2016</b></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          <b>Indian Institute of Science (IISc), Bangalore, India</b><br>
          <i>Department of Electronic Systems Engineering</i> <br>
          <i>Master of Science in Engineering</i> <br>
          Thesis Title: <i>&ldquo;Distributed Wireless Networks: Link Scheduling and Application Delay
            Modelling&rdquo;</i> <br>
          Major: <i>Wireless Communication Networks</i>
        </div>
        <span class="badge rounded-pill bg-light float-end"><b>2008 - 2011</b></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          <b>National Institute of Technology Calicut, India</b> <br>
          <i>Department of Electrical Engineering</i> <br>
          <i>Bachelor of Technology</i> <br>
          Major: <i>Electrical and Electronics Engineering</i>
        </div>
        <span class="badge rounded-pill bg-light float-end"><b>2003 - 2007</b></span>
      </li>
    </ul>
  </div>
</div>