---
layout: default
---
<script>
  $(".nav li").removeClass("active");
  $("#expNav").addClass("active");
</script>

<div class="card border-light mb-3">
  <div class="card-header">Research Experience</div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col col-lg-10">
            <b>Post-doctoral Researcher</b><br>
            <i>NEO team, INRIA Sophia Antipolis, France</i>
          </div>
          <div class="col col-lg-2">
            <span class="badge badge-light badge-pill float-right"><b>Jul 2017 - Apr 2018</b></span>
          </div>
        </div>
        <p class="text-justify">
          Used performance analysis and control tools to design scheduling algorithms for transmission of streaming video traffic over wireless channels. The objective was to minimize video quality switches while being fair in other performance
          measures
          such as throughput.
        </p>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col col-lg-10">
            <b>Research Assistant</b> <br>
            <i>Indian Institute of Science, Bangalore, India</i>
          </div>
          <div class="col col-lg-2">
            <span class="badge badge-light badge-pill float-right"><b>Feb 2012 - Aug 2012</b></span>
          </div>
        </div>
        <p class="text-justify">
          Investigated the requirement of performance management in IEEE 802.11 infrastructure WLANs. Proposed a coarse time-sliced approach to achieve fairness in WLANs. Proposed heuristics for link dependencies, and an on-line rate adaptation
          algorithm leveraging
          the closed loop dynamics of TCP.
        </p>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col col-lg-10">
            <b>Research Assistant</b> <br>
            <i>Indian Institute of Science, Bangalore, India</i><br>
          </div>
          <div class="col col-lg-2">
            <span class="badge badge-light badge-pill float-right"><b>Jun 2011 - Jan 2012</b></span>
          </div>
        </div>
        <p class="text-justify">
          Investigated the requirement, and the problem of aggregate utility maximization in wireless mesh networks under a distributed greedy heuristic. Provided insights into the factors affecting aggregate utility maximization in a network, by
          providing bounds
          on the same. Quantified the sub-optimality of the greedy schedule by looking at the convergence properties of the \(\epsilon\)-subgradient method.
        </p>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col col-lg-10">
            <b>Master of Science in Engineering</b> <br>
            <i>Indian Institute of Science, Bangalore, India</i><br>
          </div>
          <div class="col col-lg-2">
            <span class="badge badge-light badge-pill float-right"><b>Aug 2008 - Aug 2011</b></span>
          </div>
        </div>
        <p class="text-justify">
          Studied the problem of joint congestion control, routing and MAC layer scheduling in multihop wireless network in the framework of cross-layer optimization. Explored the use of a known centralized greedy heuristic, and developed a
          distributed algorithm
          that can schedule independent links based on local information. Studied convergence issues related to the price update algorithm. Developed and simulated a practical protocol that maximizes aggregate utility in a wireless mesh network. Also
          studied delay incurred by application packets sent over a WLAN.
        </p>
      </li>
    </ul>
  </div>
</div>

<hr>

<div class="card border-light mb-3">
  <div class="card-header">Industry Experience</div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col col-lg-10">
            <b>Chief Technology Officer</b> <br>
            <i>Wootz Technologies Pvt. Ltd., Bangalore, India</i><br>
          </div>
          <div class="col col-lg-2">
            <span class="badge badge-light badge-pill float-right"><b>Mar 2017 - May 2018</b></span>
          </div>
        </div>
        <p class="text-justify">
          Focused on scientific and technical issues within the company. Essentially, was responsible for leveraging the right technology, scientific knowledge and system architecture to create a market ready product.
        </p>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col col-lg-10">
            <b>Head of Research and Development</b> <br>
            <i>Wootz Technologies Pvt. Ltd., Bangalore, India</i><br>
          </div>
          <div class="col col-lg-2">
            <span class="badge badge-light badge-pill float-right"><b>Dec 2016 - Feb 2017</b></span>
          </div>
        </div>
        <p class="text-justify">
          Built a Java based discrete event simulator to evaluate the performance of the carrier allocation methods. Proposed and implemented a probabilistic demand forecast module. Proposed and implemented a carrier predication and segregation
          module. Proposed and built a website to demonstrate the efficacy of the above mentioned modules.
        </p>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col col-lg-10">
            <b>Consultant</b> <br>
            <i>Wootz Technologies Pvt. Ltd., Bangalore, India</i><br>
          </div>
          <div class="col col-lg-2">
            <span class="badge badge-light badge-pill float-right"><b>Apr 2016 - Dec 2016</b></span>
          </div>
        </div>
        <p class="text-justify">
          As a part of this startup, my role was to investigate, identify and propose methods to tackle on-demand vehicle routing problem. The proposed methods were also incorporated into a web portal using technologies such as Java, Javascript,
          Node.js and MongoDB.
        </p>
      </li>
    </ul>
  </div>
</div>
<br>
