---
layout: default
---

<script>
  $(".nav li a").removeClass("active");
  $("#fProjectsNav").addClass("active");
</script>

<div class="card mb-3">
  <div class="card-header bg-light">
    <strong>Sponsored / Funded Projects</strong>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          <b>Unified Framework for Collaborative Intelligent Systems</b> <br>
          <i>Agency</i>: IIT Palakkad Technology IHub Foundation (IPTIF) <br>
          <i>Budget:</i> <i class="fa-solid fa-indian-rupee-sign"></i> 300.00 Lakhs <br>
          <i>Role:</i> Primary Investigator (PI) <br>
          <i>Summary:</i> Building an infrastructure that abstracts out individual systems into
          end-points, and create a standardized framework for these end-points to seamlessly
          collaborate with each other to deliver intelligent services. We also plan to develop
          products and technologies that demonstrate the benefits of such collaborative services
          in streamlining the supply chain of farm produce.
        </div>
        <span class="badge rounded-pill bg-light float-end"><b>2021 - 2026</b></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          <b>Design and Evaluation of OTFS and OCDM Transceivers for Underwater Acoustic Communication</b> <br>
          <i>Agency</i>: Naval Research Board <br>
          <i>Budget:</i> <i class="fa-solid fa-indian-rupee-sign"></i> 21.36 Lakhs <br>
          <i>Role:</i> Co-Investigator (co-PI) <br>
          <i>Summary:</i> Performance study of OTFS and OCDM signalling in UWA communication channels. Analyze impact of
          practical imperfections such as estimation errors and reduced guard intervals. Design principles to meet the
          service requirements to UWA communication systems.
        </div>
        <span class="badge rounded-pill bg-light float-end"><b>2022 - 2025</b></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          <b>ZIGBEE-based Wireless Sensor Network for Landslide</b> <br>
          <i>Agency</i>: Indian Space Research Organisation (ISRO) <br>
          <i>Ph. D. in Engineering</i> <br>
          <i>Budget:</i> <i class="fa-solid fa-indian-rupee-sign"></i> 15.52 Lakhs <br>
          <i>Role:</i> Primary Investigator (PI) <br>
          <i>Summary:</i> Building a network of sensor nodes to monitor the various physical quan-
          tities of interest such as pore water pressure, rainfall and soil movement with the goal
          of monitoring land-slide prone areas and possibly predicting shallow landslides.
        </div>
        <span class="badge rounded-pill bg-light float-end"><b>2020 - 2022</b></span>
      </li>
    </ul>
  </div>
</div>

<br>