---
layout: default
---

<script>
  $(".nav li").removeClass("active");
  $("#homeNav").addClass("active");
</script>


<div class="row">
  <div class="col-4">
    <img src="/assets/images/profile_pic.jpg" class="img-thumbnail rounded float-left" alt="Profile Picture">
  </div>
  <div class="col-sm">
    <div class="row mx-0">
      <p>
        Assistant Professor <br> Computer Science and Engineering <br> Indian Institute of Technology Palakkad <br>
      </p>
    </div>
    <div class="row mx-0">
      <p class="float-left">E-mail: &nbsp </p>
      <p class="float-right"> firstname[at]iitpkd[dot]ac[dot]in
      </p>
    </div>

    <div class="row mx-0">
    <div class="card border-light mb-3 w-100">
      <div class="card-header">Research Interests</div>
      <div class="card-body">
        <p class="card-text">Modelling, analysis and resource allocation in wireless, social and transportation networks.
        </p>
      </div>
    </div>
  </div>
  </div>
</div>

<hr class="my-4">

<div class="card border-light mb-3">
  <div class="card-header">Openings</div>
  <div class="card-body">
    <p class="card-text text-justify">I am currently looking for motivated candidates for MS, PhD and post-doctoral positions. While my preferred areas of research are theoretical in nature, I am open to exploring experimental/simulation-based approaches. If you are interested to work with me, do write to me along with a one page write-up about the research topic which you wish to pursue.
    </p>
  </div>
</div>
