---
layout: default
---

<script>
  $(".nav li a").removeClass("active");
  $("#homeNav").addClass("active");
</script>

<div class="row" style="margin-top:-10px;">
  <div class="col-4">
    <img src="/assets/images/profile_pic.jpg" class="img-thumbnail rounded float-left" alt="Profile Picture">
  </div>
  <div class="col-sm">
    <div class="row mx-0">
      <p>
        <strong>Albert Sunny</strong> <br>
        Associate Professor <br>
        Computer Science and Engineering <br>
        Indian Institute of Technology Palakkad <br>
      </p>
    </div>
    <div class="row mx-0">
      <p>
        <strong>E-mail</strong>: albert[at]iitpkd[dot]ac[dot]in <br>
        <strong>Phone</strong>: +91 4923 226 389
      </p>
    </div>
    <div class="row mx-0">
      <p>
        <a title="Google Scholar"
          href="https://scholar.google.co.in/citations?hl=en&user=UR7w_HgAAAAJ&view_op=list_works&sortby=pubdate"> <i
            class="fa-brands fa-google-scholar"></i></a>
        <a title="LinkedIn" href="https://in.linkedin.com/in/albert-sunny-94a04a132"> <i
            class="fa-brands fa-linkedin"></i></a>
        <a title="Institute Page" href="https://iitpkd.ac.in/people/albert"> <i
            class="fa-solid fa-building-columns"></i></a>
      </p>
    </div>
    <div class="row mx-0">
      <p>
        I work on modelling, analysis and resource allocation in
        distributed and interconnected systems with a special focus on
        computer and communication systems. My preferred
        areas of research are theoretical in nature. I am also interested in exploring experimental/simulation-based
        approaches.
      </p>
    </div>
  </div>
</div>

<hr class="my-4">


<div class="card mb-3">
  <div class="card-header bg-light">
    <strong>Openings</strong>
  </div>
  <div class="card-body">
    <p class="card-text text-justify">I am looking for motivated M.S/Ph.D./Post-Doc students. If you are interested to
      work with me, drop me an e-mail.
    </p>
  </div>
</div>
<br>