---
layout: default
---

<script>
  $(".nav li a").removeClass("active");
  $("#oProjectsNav").addClass("active");
</script>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="p1">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cp1"
        aria-expanded="false" aria-controls="cp1">
        <div class="row">
          <div class="col">
            <strong>Project Allocation Portal</strong>
          </div>

          <div class="row">
            <div class="col">
              <span class="badge rounded-pill bg-info">UG Project</span>
              <span class="badge rounded-pill bg-success">Status: Completed</span>
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div id="cp1" class="accordion-collapse collapse" aria-labelledby="p1" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Motivations for this portal was to reduce the drudgery people have to go through due to manual project
        allocation in
        this modern erawhere everything is code driven. We have seen that most of the project allocations are done
        using GoogleDocs or Excel - a tiresome and time-consuming process. So, we came up with a web-based solution that
        uses an algorithm to allocate projects after collecting preferences from students and mentors. <br> <br>

        Project members:
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Subhash S.</i>, B. Tech, Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jan 2020 - Jul 2020</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Sai Vamsi Alisetti</i>, B. Tech, Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jan 2020 - Jul 2020</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="p2">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cp2"
        aria-expanded="false" aria-controls="cp2">
        <div class="row">
          <div class="col">
            <strong>Cloud-based Solution for Sharing and Digital Signature</strong>
          </div>

          <div class="row">
            <div class="col">
              <span class="badge rounded-pill bg-info">UG Project</span>
              <span class="badge rounded-pill bg-success">Status: Completed</span>
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div id="cp2" class="accordion-collapse collapse" aria-labelledby="p2" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        This project aims to create an a portal for sharing and digitally signing documents. <br> <br>

        Project members:
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Dasari Sravan Kumar</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2020 - Apr 2021</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Muhammed Yaseen</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2020 - Apr 2021</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="p9">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cp9"
        aria-expanded="false" aria-controls="cp9">
        <div class="row">
          <div class="col">
            <strong>SahaYatra - A Ride Sharing App</strong>
          </div>

          <div class="row">
            <div class="col">
              <span class="badge rounded-pill bg-info">UG Project</span>
              <span class="badge rounded-pill bg-success">Status: Inactive</span>
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div id="cp9" class="accordion-collapse collapse" aria-labelledby="p9" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Several attempts on developing ride service platforms have been made. Some are paid, while others are open
        sourced. But all these projects do not have enough flexibility in terms of ride sharing and ride scheduling. The
        goal of
        this project is to fill this void by creating a new ride sharing platform. <br> <br>

        Project members:
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Pankaj Kumar</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2019 - Apr 2020</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Jayaprakash A</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2018 - Apr 2019</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="p3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cp3"
        aria-expanded="false" aria-controls="cp3">
        <div class="row">
          <div class="col">
            <strong>Cloud-based Solution for Timetable Automation</strong>
          </div>

          <div class="row">
            <div class="col">
              <span class="badge rounded-pill bg-info">UG Project</span>
              <span class="badge rounded-pill bg-secondary">Status: Inactive</span>
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div id="cp3" class="accordion-collapse collapse" aria-labelledby="p3" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        This project aims to develop a cloud-based solution where faculty and academic section can enter data about
        courses
        offered in a semester, list of faculties offering courses, slot systems, and details of available rooms. It
        should
        also provide a
        workflow that allows academic section to create an optimal timetable (room-slot-course allocation) taking into
        consideration the various constraints. <br> <br>

        Project members:
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Shiva Santhosh</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2020 - Apr 2021</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Sirpa Sahul</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2020 - Apr 2021</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Gautam Kumar</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2019 - Nov 2019</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="p4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cp4"
        aria-expanded="false" aria-controls="cp4">
        <div class="row">
          <div class="col">
            <strong>App for Managing Volunteering</strong>
          </div>

          <div class="row">
            <div class="col">
              <span class="badge rounded-pill bg-info">UG Project</span>
              <span class="badge rounded-pill bg-secondary">Status: Inactive</span>
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div id="cp4" class="accordion-collapse collapse" aria-labelledby="p4" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        This project aims to create an app for logging and managing volunteering activity. <br> <br>

        Project members:
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Madaka Srikar Reddy</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2020 - Apr 2021</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Marella Shiva Teja</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2020 - Apr 2021</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="p5">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cp5"
        aria-expanded="false" aria-controls="cp5">
        <div class="row">
          <div class="col">
            <strong>Interactive E-desk</strong>
          </div>

          <div class="row">
            <div class="col">
              <span class="badge rounded-pill bg-info">UG Project</span>
              <span class="badge rounded-pill bg-secondary">Status: Inactive</span>
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div id="cp5" class="accordion-collapse collapse" aria-labelledby="p5" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        This project aims to create an inexpensive interactive E-desk. <br> <br>

        Project members:
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Shiv Kumar Suthar</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2019 - Nov 2019</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="p6">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cp6"
        aria-expanded="false" aria-controls="cp6">
        <div class="row">
          <div class="col">
            <strong>Interactive Video Wall</strong>
          </div>

          <div class="row">
            <div class="col">
              <span class="badge rounded-pill bg-info">UG Project</span>
              <span class="badge rounded-pill bg-secondary">Status: Inactive</span>
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div id="cp6" class="accordion-collapse collapse" aria-labelledby="p6" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The goal is to design an interactive video wall. The video will be displayed on a wall made of LCD screen, and
        the
        user interacts with the video through guestures. <br> <br>

        Project members:
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Deekshith P</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2019 - Apr 2020</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="p7">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cp7"
        aria-expanded="false" aria-controls="cp7">
        <div class="row">
          <div class="col">
            <strong>Wifi-Enabled IoT-Based Smart Lock</strong>
          </div>

          <div class="row">
            <div class="col">
              <span class="badge rounded-pill bg-info">UG Project</span>
              <span class="badge rounded-pill bg-secondary">Status: Inactive</span>
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div id="cp7" class="accordion-collapse collapse" aria-labelledby="p7" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The goal is to design an IOT based smart door-lock which can be operated over a Wifi network using an android
        application. One would need an authentication mechanism to lock or unlock the door. Hardware implementation of
        the lock will use an Arduino board, DC motor, NODE MCU ESP8266 Wifi module and batteries to provide power to the
        lock. This project
        also involves the design of a locking mechanism (with rack, pinion, and a place fixing the servo motor) and
        realizing
        it using a 3D printer. <br> <br>

        Project members:
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Avinash Kumar Sharma</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jan 2020 - Apr 2020</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10"><i>Md Talha Yaseen Khan</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jan 2020 - Apr 2020</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Y. Sarvani Swapna Priya</i>, Integrated M.Tech, Central
              University of Karnataka
            </div>
            <span class="badge badge-light badge-pill">May 2019 - Jun 2019</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10">
              <i>Rohith Reddy G</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2018 - Apr 2019</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="p8">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cp8"
        aria-expanded="false" aria-controls="cp8">
        <div class="row">
          <div class="col">
            <strong>Secure Linux Voice Command Controller</strong>
          </div>

          <div class="row">
            <div class="col">
              <span class="badge rounded-pill bg-info">UG Project</span>
              <span class="badge rounded-pill bg-secondary">Status: Inactive</span>
            </div>
          </div>
        </div>
      </button>
    </h2>
    <div id="cp8" class="accordion-collapse collapse" aria-labelledby="p8" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        This project aims to develop a secure voice-based controller for Linux desktops to recognize voice commands for
        basic functionalities (for example, the opening of applications and basic control of applications) and perform
        them similar to commercial virtual assistants. This voice-based controller should be secure, that is it should
        be able to
        recognize the speaker and run voice command only for a registered speaker. <br> <br>

        Project members:
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col col-lg-10"><i>Libin N George</i>, B. Tech., Indian Institute of Technology Palakkad
            </div>
            <span class="badge badge-light badge-pill">Jul 2018 - Apr 2019</span>
          </li>
        </ul>
      </div>
    </div>
  </div>




</div>

<br>