---
layout: default
---

<script>
  $(".nav li a").removeClass("active");
  $("#pubNav").addClass("active");
</script>

<div class="card mb-3">
  <div class="card-header bg-light">
    <strong>Patents</strong>
  </div>
  <div class="card-body">
    <ol>
      <li>
        Dimitrios Tsilimantos, Rachid El-Azouzi, <b>Albert Sunny</b>, &ldquo;Communication Entity
        and a Method for Transmitting a Video Data Stream,&rdquo; <i>U.S. Patent</i> No. 11,627,358,
        11 Apr. 2023.
      </li>
    </ol>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header bg-light">
    <strong>Journals</strong>
  </div>
  <div class="card-body">
    <ol>
      <li>
        Reshma Prasad and <b>Albert Sunny</b>, &ldquo;QoS-Aware Scheduling in 5G Wireless Base
        Stations,&rdquo; in <i>IEEE/ACM Transactions on Networking</i> (Early Access).
      </li>
      <li>
        Reshma Prasad and <b>Albert Sunny</b>, &ldquo;Scheduling Slice Requests in 5G Networks,&rdquo; in
        <i>IEEE/ACM Transactions on Networking</i>, vol. 31, no. 6, pp. 3025-3036, Dec. 2023.
      </li>
      <li>
        Swapnil Dhamal, Walid Ben-Ameur, Tijani Chahed, Eitan Altman, <b>Albert Sunny</b>,
        Sudheer Poojary, &ldquo;A Game-theoretic Framework for Distributed Computing with Dy-
        namic Set of Agents,&rdquo; in <i>Annals of Operations Research</i>, Feb. 2023.
      </li>
      <li>
        Ashok Kumar, M., <b>Albert Sunny,</b> Ashish Thakre, Ashisha Kumar, and G. Dinesh
        Manohar, &ldquo;Are Guessing, Source Coding and Tasks Partitioning Birds of A Feather?,&rdquo;
        <i>Entropy</i>, vol. 24, Issue. 11: 1695, Nov 2022.
      </li>
      <li>
        Swapnil Dhamal, Walid Ben-Ameur, Tijani Chahed, Eitan Altman, <b>Albert Sunny</b>,
        Sudheer Poojary, &ldquo;Strategic Investments in Distributed Computing: A Stochastic
        Game Perspective,&rdquo; in <i>Elsevier Journal of Parallel and Distributed Computing</i>, vol.
        169, pp., 317-333, Nov. 2022.
      </li>
      <li>
        Reena Chackochan, <b>Albert Sunny</b> and Senthilkumar Dhanasekaran, &ldquo;Approximate
        Aggregate Utility Maximization Using Greedy Maximal Scheduling,&rdquo; in <i>IEEE/ACM
          Transactions on Networking</i>, vol. 30, no. 6, pp. 2521-2530, Dec. 2022.
      </li>
      <li> <b>Albert Sunny</b>, Rachid El-Azouzi, Afaf Arfaoui, Eitan Altman, Sudheer Poojary, Dimitrios Tsilimantos,
        and Stefan Valentin, &ldquo;Enforcing Bitrate-Stability for Adaptive Streaming Traffic in Cellular
        Networks,&rdquo; in <i>IEEE Transactions on Network and Service Management</i>, vol. 16, no. 4, pp. 1812-1825,
        Dec. 2019.
      </li>
      <li>Reena Chackochan, Senthil Dhanasekaran and <b>Albert Sunny</b>, &ldquo;Asynchronous Distributed Greedy Link
        Scheduling in Multihop Wireless Networks,&rdquo; in <i>IEEE Transactions on Vehicular Technology</i>, vol. 67,
        no. 10, pp. 10166-10170, Oct. 2018
      </li>
      <li>Tapas Kumar Patra and <b>Albert Sunny</b>, &ldquo;Forwarding in Heterogeneous Mobile Opportunistic
        Networks,&rdquo; in <i>IEEE Communications Letters</i>, vol. 22, no. 3, pp. 626-629, Mar. 2018.
      </li>
      <li>Srinath Narasimha, Joy Kuri and <b>Albert Sunny</b>, &ldquo;Reduced-Complexity Delay-Efficient
        Throughput-Optimal Scheduling with Heterogeneously Delayed Network-State Information,&rdquo; in <i>Elsevier
          Performance Evaluation</i>, vol. 121-122,
        pp. 18-37, Mar. 2018.
      </li>
      <li>Bhushan Kotnis, <b>Albert Sunny</b> and Joy Kuri, &ldquo;Incentivized Campaigning in Social Networks,&rdquo;
        in <i>IEEE/ACM Transactions on Networking</i>, vol. 25, no. 3, pp. 1621-1634, Jun. 2017.
      </li>
      <li><b>Albert Sunny</b>, Sumankumar Panchal, Nikhil Vidhani, Subhashini Krishnasamy, S.V.R. Anand, Malati Hegde,
        Joy Kuri and Anurag Kumar, &ldquo;A Generic Controller for Managing TCP Transfers in IEEE 802.11 Infrastructure
        WLANs,&rdquo; in <i>Elsevier Journal of Network
          and Computer Applications</i>, vol. 93C, pp. 13-26, May 2017.
      </li>
      <li><b>Albert Sunny</b>, &ldquo;Joint Scheduling and Sensing Allocation in Energy Harvesting Sensor Networks with
        Fusion Centers,&rdquo; in <i>IEEE Journal on Selected Areas in Communications</i>, vol. 34, no. 12, pp.
        3577-3589, Dec. 2016.
      </li>
      <li><b>Albert Sunny</b> and Joy Kuri, &ldquo;A Framework for Designing Multihop Energy Harvesting Sensor
        Networks,&rdquo; in <i>IEEE Journal on Selected Areas in Communications</i>, vol. 34, no. 5, pp. 1491-1501, May.
        2016.
      </li>
      <li><b>Albert Sunny</b>, Siddhartha Sarma and Joy Kuri, &ldquo;Secure Transmission in Cooperative Networks with
        Weak Eavesdroppers,&rdquo; in <i>IEEE Signal Processing Letters</i>, vol.22, no.10, pp.1693-1697, Oct. 2015.
      </li>
      <li><b>Albert Sunny</b>, Bhushan Kotnis and Joy Kuri, &ldquo;Dynamics of History-dependent Epidemics in Temporal
        Networks,&rdquo; in <i>Physical Review E</i>, vol.92, no.2, pp.022811- 022820, Aug. 2015.
      </li>
    </ol>
  </div>
</div>
<hr>
<div class="card mb-3">
  <div class="card-header bg-light">
    <strong>Conferences</strong>
  </div>
  <div class="card-body">
    <ol>
      <li>
        M. Ashok Kumar, <b>Albert Sunny</b>, Ashish Thakre, Ashisha Kumar, and G. Dinesh Manohar, &ldquo;A Unified
        Framework for
        Problems on Guessing, Source Coding, and Tasks Partitioning,&rdquo; in Proceedings of <i>IEEE International
          Symposium on
          Information Theory (ISIT)</i>, pp. 3339-3344, Jul 2022.
      </li>
      <li> Rachid El-Azouzi, <b>Albert Sunny</b>, Liang Zhao, Eitan Altman, Dimitrios Tsilimantos, Francesco De
        Pellegrini and Stefan Valentin, &ldquo;Dynamic DASH Aware Scheduling in Cellular Networks,&rdquo; in Proceedings
        of <i>IEEE Wireless Communications and Networking Conference (WCNC)</i>, Marrakesh, Morocco, 2019, pp. 1-8.
      </li>
      <li> Rachid El-Azouzi, Krishna V Acharya, Sudheer Poojary, <b>Albert Sunny</b>, Majed Haddad, Eitan Altman,
        Dimitrios Tsilimantos and Stefan Valentin, &ldquo;Analysis of QoE for Adaptive Video Streaming over Wireless
        Networks with User Abandonment Behavior, &rdquo; in Proceedings of <i>IEEE Wireless Communications and
          Networking Conference (WCNC)</i>, Marrakesh, Morocco, 2019, pp. 1-8.
      </li>
      <li>Sudheer Poojary, Rachid El-Azouzi, Eitan Altman, <b>Albert Sunny</b>, Imen Triki, Majed Haddad, Tania Jimenez,
        Stefan Valentin and Dimitrios Tsilimantos, &ldquo;Analysis of QoE for adaptive video streaming over wireless
        networks,&rdquo; in Proceedings of <i>IEEE 16th International Symposium on Modeling and Optimization in Mobile,
          Ad Hoc, and Wireless Networks (WiOpt)</i>, Shanghai, China, 2018, pp. 1-8.
      </li>
      <li> <b>Albert Sunny</b>, Siddhartha Sarma and Joy Kuri, &ldquo;Beating Resource Constrained Eavesdroppers: A
        Physical Layer Security Study,&rdquo; in Proceedings of <i>IEEE 13th International Symposium on Modeling and
          Optimization in Mobile, Ad Hoc, and Wireless Networks (WiOpt)</i>, pp.167-174, 25-29 May 2015, Mumbai, India.
      </li>
      <li><b>Albert Sunny</b> and Joy Kuri, &ldquo;Link Dependence Probabilities in IEEE 802.11 Infrastructure
        WLANs,&rdquo; in Proceedings of <i>IEEE 13th International Symposium on Modeling and Optimization in Mobile, Ad
          Hoc, and Wireless Networks (WiOpt)</i>, pp.148-153, 25-29 May 2015, Mumbai, India.
      </li>
      <li><b>Albert Sunny</b>, Joy Kuri and Saurabh Aggarwal, &ldquo;Application Delay Modelling for Variable Length
        Packets in Single Cell IEEE 802.11 WLANs,&rdquo; in Proceedings of <i>IEEE National Conference on Communications
          (NCC)</i>, pp.1-5, 28-30 Jan. 2011, Bangalore, India.
      </li>
      <li><b>Albert Sunny</b>, Joy Kuri and Saurabh Aggarwal, &ldquo;Delay Modelling for a Singlehop Wireless Mesh
        Network under Light Aggregate Traffic,&rdquo; in Proceedings of <i>IEEE International Conference on
          Communications and Signal Processing (ICCSP)</i>, pp.271- 275, 10-12
        Feb. 2011, Calicut, India.
      </li>
      <li><b>Albert Sunny</b> and Joy Kuri, &ldquo;Distributed Greedy Scheduling for Multihop Wireless Networks,&rdquo;
        in Proceedings of <i>IEEE 7th International Conference on Mobile Adhoc and Sensor Systems (MASS)</i>,
        pp.582-587, 8-12 Nov. 2010, San Francisco, U. S. A.
      </li>
    </ol>
  </div>
</div>
<br>