---
layout: default
---

<script>
  $(".nav li").removeClass("active");
  $("#pubNav").addClass("active");
</script>

<div class="card border-light mb-3">
  <div class="card-header">Journals</div>
  <div class="card-body">
    <ol>
      <li>Tapas Kumar Patra and <b>Albert Sunny</b>, &ldquo;Forwarding in Heterogeneous Mobile Opportunistic Networks,&rdquo; in <i>IEEE Communications Letters</i>, vol. 22, no. 3, pp. 626-629, March 2018.
      </li>
      <li>Srinath Narasimha, Joy Kuri and <b>Albert Sunny</b>, &ldquo;Reduced-Complexity Delay-Efficient Throughput-Optimal Scheduling with Heterogeneously Delayed Network-State Information,&rdquo; in <i>Elsevier Performance Evaluation</i>, vol. 121-122,
        pp. 18-37, March 2018.
      </li>
      <li>Bhushan Kotnis, <b>Albert Sunny</b> and Joy Kuri, &ldquo;Incentivized Campaigning in Social Networks,&rdquo; in <i>IEEE/ACM Transactions on Networking</i>, vol. 25, no. 3, pp. 1621-1634, June 2017.
      </li>
      <li><b>Albert Sunny</b>, Sumankumar Panchal, Nikhil Vidhani, Subhashini Krishnasamy, S.V.R. Anand, Malati Hegde, Joy Kuri and Anurag Kumar, &ldquo;A Generic Controller for Managing TCP Transfers in IEEE 802.11 Infrastructure WLANs,&rdquo; in <i>Elsevier Journal of Network
        and Computer Applications</i>, vol. 93C, pp. 13-26, May 2017.
      </li>
      <li><b>Albert Sunny</b>, &ldquo;Joint Scheduling and Sensing Allocation in Energy Harvesting Sensor Networks with Fusion Centers,&rdquo; in <i>IEEE Journal on Selected Areas in Communications</i>, vol. 34, no. 12, pp. 3577-3589, Dec 2016.
      </li>
      <li><b>Albert Sunny</b> and Joy Kuri, &ldquo;A Framework for Designing Multihop Energy Harvesting Sensor Networks,&rdquo; in <i>IEEE Journal on Selected Areas in Communications</i>, vol. 34, no. 5, pp. 1491-1501, May 2016.
      </li>
      <li><b>Albert Sunny</b>, Siddhartha Sarma and Joy Kuri, &ldquo;Secure Transmission in Cooperative Networks with Weak Eavesdroppers,&rdquo; in <i>IEEE Signal Processing Letters</i>, vol.22, no.10, pp.1693-1697, Oct. 2015.
      </li>
      <li><b>Albert Sunny</b>, Bhushan Kotnis and Joy Kuri, &ldquo;Dynamics of History-dependent Epidemics in Temporal Networks,&rdquo; in <i>Physical Review E</i>, vol.92, no.2, pp.022811- 022820, Aug. 2015.
      </li>
    </ol>
  </div>
</div>
<hr>
<div class="card border-light mb-3">
  <div class="card-header">Conferences</div>
  <div class="card-body">
    <ol>
      <li>Sudheer Poojary, Rachid El-Azouzi, Eitan Altman, <b>Albert Sunny</b>, Imen Triki, Majed Haddad, Tania Jimenez, Stefan Valentin and Dimitrios Tsilimantos, &ldquo;Analysis of QoE for adaptive video streaming over wireless networks,&rdquo; in <i>IEEE 16th International Symposium on Modeling and Optimization in Mobile, Ad Hoc, and Wireless Networks (WiOpt)</i>, Shanghai, China, 2018, pp. 1-8.
      </li>
      <li> <b>Albert Sunny</b>, Siddhartha Sarma and Joy Kuri, &ldquo;Beating Resource Constrained Eavesdroppers: A Physical Layer Security Study,&rdquo; in <i>IEEE 13th International Symposium on Modeling and Optimization in Mobile, Ad Hoc, and Wireless Networks (WiOpt)</i>, pp.167-174, 25-29 May 2015, Mumbai, India.
      </li>
      <li><b>Albert Sunny</b> and Joy Kuri, &ldquo;Link Dependence Probabilities in IEEE 802.11 Infrastructure WLANs,&rdquo; in <i>IEEE 13th International Symposium on Modeling and Optimization in Mobile, Ad Hoc, and Wireless Networks (WiOpt)</i>, pp.148-153, 25-29 May 2015, Mumbai, India.
      </li>
      <li><b>Albert Sunny</b>, Joy Kuri and Saurabh Aggarwal, &ldquo;Application Delay Modelling for Variable Length Packets in Single Cell IEEE 802.11 WLANs,&rdquo; in <i>IEEE National Conference on Communications (NCC)</i>, pp.1-5, 28-30 Jan. 2011, Bangalore, India.
      </li>
      <li><b>Albert Sunny</b>, Joy Kuri and Saurabh Aggarwal, &ldquo;Delay Modelling for a Singlehop Wireless Mesh Network under Light Aggregate Traffic,&rdquo; in <i>IEEE International Conference on Communications and Signal Processing (ICCSP)</i>, pp.271- 275, 10-12
        Feb. 2011, Calicut, India.
      </li>
      <li><b>Albert Sunny</b> and Joy Kuri, &ldquo;Distributed Greedy Scheduling for Multihop Wireless Networks,&rdquo; in <i>IEEE 7th International Conference on Mobile Adhoc and Sensor Systems (MASS)</i>, pp.582-587, 8-12 Nov. 2010, San Francisco, U. S. A.
      </li>
    </ol>
  </div>
</div>
<br>
