---
layout: default
---

<script>
  $(".nav li").removeClass("active");
  $("#studentsNav").addClass("active");
</script>

<div class="card border-light mb-3">
  <div class="card-header">Ph. D. students at Indian Institute of Technology Palakkad</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Indu K B
        </div>
        <span class="badge badge-light badge-pill float-right">Jan 2022 - Present</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Krishnaveni K S
        </div>
        <span class="badge badge-light badge-pill float-right">Aug 2021 - Present</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Reshma Prasad
        </div>
        <span class="badge badge-light badge-pill float-right">Aug 2019 - Present</span>
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="card border-light mb-3">
  <div class="card-header">B. Tech. project mentees at Indian Institute of Technology Palakkad</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Shruti Umat</div><span class="badge badge-light badge-pill float-right">Jul 2020 - Apr 2021</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Priyanshu Shrivastav</div><span class="badge badge-light badge-pill float-right">Jul 2020 - Apr 2021</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Erasani Sajith Kumar</div><span class="badge badge-light badge-pill float-right">Jul 2020 - Apr 2021</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Prudhvi Reddy</div><span class="badge badge-light badge-pill float-right">Jul 2020 - Apr 2021</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Sirpa Sahul</div><span class="badge badge-light badge-pill float-right">Jul 2020 - Apr 2021</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Shiva Santhosh</div><span class="badge badge-light badge-pill float-right">Jul 2020 - Apr 2021</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Marella Shiva Teja</div><span class="badge badge-light badge-pill float-right">Jul 2020 - Apr 2021</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Madaka Srikar Reddy</div><span class="badge badge-light badge-pill float-right">Jul 2020 - Apr 2021</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Muhammed Yaseen</div><span class="badge badge-light badge-pill float-right">Jul 2020 - Apr 2021</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Dasari Sravan Kumar</div><span class="badge badge-light badge-pill float-right">Jul 2020 - Apr 2021</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Subhash S</div><span class="badge badge-light badge-pill float-right">Jan 2020 - Jul 2020</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Sai Vamsi Alisetti</div><span class="badge badge-light badge-pill float-right">Jan 2020 - Jul 2020</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Avinash Kumar Sharma</div><span class="badge badge-light badge-pill float-right">Jan 2020 - Apr 2020</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Md Talha Yaseen Khan</div><span class="badge badge-light badge-pill float-right">Jan 2020 - Apr 2020</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Pankaj Kumar</div><span class="badge badge-light badge-pill float-right">Jul 2019 - Apr 2020</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Deekshith P</div><span class="badge badge-light badge-pill float-right">Jul 2019 - Apr 2020</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Gautam Kumar</div><span class="badge badge-light badge-pill float-right">Jul 2019 - Nov 2019</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Shiv Kumar Suthar</div><span class="badge badge-light badge-pill float-right">Jul 2019 - Nov 2019</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Rohith Reddy G</div><span class="badge badge-light badge-pill float-right">Jul 2018 - Apr 2019</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Libin N George</div><span class="badge badge-light badge-pill float-right">Jul 2018 - Apr 2019</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">Jayaprakash A</div><span class="badge badge-light badge-pill float-right">Jul 2018 - Apr 2019</span>
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="card border-light mb-3">
  <div class="card-header">Interns</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Abhiraj K R, <i>B. Tech., National Institute of Technology Agartala</i>
        </div>
        <span class="badge badge-light badge-pill float-right">May 2020 - Jul 2020</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Mukta Deshpande, <i>B. Tech., National Institute of Technology Agartala</i>
        </div>
        <span class="badge badge-light badge-pill float-right">May 2020 - Jul 2020</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Masood Ahmad, <i>B. Tech., Hemvati Nandan Bahuguna Garhwal University</i>
        </div>
        <span class="badge badge-light badge-pill float-right">May 2019 - Jun 2019</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Y. Sarvani Swapna Priya, <i>Integrated M. Tech., Central University of Karnataka</i>
        </div>
        <span class="badge badge-light badge-pill float-right">May 2019 - Jun 2019</span>
      </li>
    </ul>
  </div>
</div>
<br>
