---
layout: default
---

<script>
  $(".nav li a").removeClass("active");
  $("#studentsNav").addClass("active");
</script>

<div class="card mb-3">
  <div class="card-header bg-light">
    <strong>Ph. D. Students</strong>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Indu K B
        </div>
        <span class="badge rounded-pill bg-light float-end">Jan 2022 - Present</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Reshma Prasad
        </div>
        <span class="badge rounded-pill bg-light float-end">Aug 2019 - Present</span>
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="card mb-3">
  <div class="card-header bg-light">
    <strong>M. Tech. Students</strong>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Ujjwal Verma
        </div>
        <span class="badge rounded-pill bg-light float-end">Aug 2023 - Apr 2024</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Sidhartha Sankar Pradhan
        </div>
        <span class="badge rounded-pill bg-light float-end">Aug 2023 - Dec 2023</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Avijit Mondal
        </div>
        <span class="badge rounded-pill bg-light float-end">Aug 2021 - Apr 2022</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Keerthana A
        </div>
        <span class="badge rounded-pill bg-light float-end">Aug 2021 - Apr 2022</span>
      </li>
    </ul>
  </div>
</div>

<hr>
<div class="card mb-3">
  <div class="card-header bg-light">
    <strong>Interns</strong>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Abhiraj K R, <i>B. Tech., National Institute of Technology Agartala</i>
        </div>
        <span class="badge rounded-pill bg-light float-end">May 2020 - Jul 2020</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Mukta Deshpande, <i>B. Tech., National Institute of Technology Agartala</i>
        </div>
        <span class="badge rounded-pill bg-light float-end">May 2020 - Jul 2020</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Masood Ahmad, <i>B. Tech., Hemvati Nandan Bahuguna Garhwal University</i>
        </div>
        <span class="badge rounded-pill bg-light float-end">May 2019 - Jun 2019</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="col col-lg-10">
          Y. Sarvani Swapna Priya, <i>Integrated M. Tech., Central University of Karnataka</i>
        </div>
        <span class="badge rounded-pill bg-light float-end">May 2019 - Jun 2019</span>
      </li>
    </ul>
  </div>
</div>
<br>