---
layout: default
---

<script>
  $(".nav li").removeClass("active");
  $("#teachingNav").addClass("active");
</script>

<div class="card border-light mb-3">
  <div class="card-header">Courses I have taught at IIT Palakkad</div>
  <div class="card-body">
    <ol>
      <li>CS4602: Convex Optimization <span class="badge badge-light badge-pill float-right"><b>Jan 2019 - Apr 2019</b></span></li>
      <li>CS2180: Artifical Intelligence Lab <span class="badge badge-light badge-pill float-right"><b>Jan 2019 - Apr 2019</b></span></li>
      <li>CS4501: Game Theory <span class="badge badge-light badge-pill float-right"><b>Jul 2018 - Nov 2018</b></span></li>
      <li>CS2130: Data Structures and Algorithms Lab <span class="badge badge-light badge-pill float-right"><b>Jul 2018 - Nov 2018</b></span></li>
    </ol>
  </div>
</div>

<br>
