---
layout: default
---

<script>
  $(".nav li").removeClass("active");
  $("#teachingNav").addClass("active");
</script>

<div class="card border-light mb-3">
  <div class="card-header">Courses I have taught at IIT Palakkad</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">CS1020: Introduction to Computer Programming <span class="badge badge-light badge-pill"><b>Jan 2020 - Apr 2020</b></span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center">CS3200: Computer Networks <span class="badge badge-light badge-pill "><b>Jul 2019 - Nov 2019</b></span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center">CS3210: Computer Networks Lab <span class="badge badge-light badge-pill "><b>Jul 2019 - Nov 2019</b></span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center">CS4602: Convex Optimization <span class="badge badge-light badge-pill "><b>Jan 2019 - Apr 2019</b></span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center">CS2180: Artifical Intelligence Lab <span class="badge badge-light badge-pill "><b>Jan 2019 - Apr 2019</b></span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center">CS4501: Game Theory <span class="badge badge-light badge-pill "><b>Jul 2018 - Nov 2018</b></span></li>
      <li class="list-group-item d-flex justify-content-between align-items-center">CS2130: Data Structures and Algorithms Lab <span class="badge badge-light badge-pill "><b>Jul 2018 - Nov 2018</b></span></li>
    </ul>
  </div>
</div>

<br>
